html {
    overflow-y: hidden;
}

* {
    font-family: 'Poppins',sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    background: linear-gradient(180deg, #fbeff1 0%, #f2f4f9 50%, #e1f0f6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 25%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

p {
    font-weight: 500;
    color: #6b7280;
    font-size: 0.9rem;
}

input {
    padding: 1rem 8rem 1rem 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: none;
    border: none;
    margin: 0.8rem;
}

select {
    padding: 1rem 11rem 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: rgb(255, 68, 99);
    color: rgb(236, 234, 234);
    font-weight:600;
    font-size: 1rem;
    letter-spacing: 1.5px;
    border: none;
    padding: 0.8rem 7rem;
    border-radius: 10px;
    margin: 1rem 0;
}

/* Ukuran Laptop */
@media screen and (max-width: 1366px) {
    section {
        width: 35%;
    }

    select {
        padding: 0.8rem 13.5rem 0.8rem 0.2rem;
        box-sizing: border-box;
    }
}

/* Ukuran Tablet */
@media screen and (max-width: 1024px) {
    section {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: 0;
    }

    form {
        flex-direction: column;
    }


    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1rem;
    }


    input {
        padding: 1rem 11rem 1rem 1.5rem;
        font-size: 1rem;
        margin: 0.2rem;
    }

    select {
        padding: 1rem 1rem;
        width: 99%;
        margin-left: 5px;
        box-sizing: border-box;
        text-align: left;
        font-size: 1rem;
    }
    

    button {
        padding: 0.5rem;
        margin: 1rem auto;
        width: 100%;
        font-size: 1.2rem;
    }
}



/* Ukuran Handphone Besar */
@media screen and (max-width: 768px) {

    section {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: 0;
    }

    form {
        flex-direction: column;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    input {
        padding: 1.3rem 8rem 1.3rem 1.5rem;
        font-size: 1.2rem;
    }

    select {
        padding: 1rem 1rem;
        width: 99%;
        margin-left: 5px;
        box-sizing: border-box;
        text-align: left;
        font-size: 1rem;
    }

    button {
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        font-size: 1.2rem;
    }
    
}


/* Ukuran Handphone Kecil */
@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.8rem;
    }

    input {
        padding: 1.1rem 5rem 1.1rem 1.5rem;
        font-size: 0.8rem;
    }

    select {
        padding: 1rem 1rem;
        width: 99%;
        margin-left: 5px;
        box-sizing: border-box;
        text-align: left;
        font-size: 0.8rem;
    }

    button {
        padding: 0.8rem;
        width: 100%;
        min-width: 70%;
        font-size: 0.8rem;
    }
    
}